@import 'add-to-calendar-button/assets/css/atcb.css';

.link-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    margin-top: 3vh;
}
.link {
    padding: 1vh 3vw;
    background-color: #fbf8f5;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-style: none;
    font-size: 2.5vh;
    text-decoration: none;
    margin: 1vh 1vw;
    color: black;
}