.opening {
    top: 16vh;
    font-family: 'heebo';
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main-header {
    font-family: 'heebo';
    color: #073147;
    font-size: 9vmin;
    width: 90vw;
    font-weight: 1000;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

.opening-txt {
    direction: rtl;
    font-family: 'heebo';
    color: #1d2127;
    font-size: 4.5vmin;
    width: 90vw;
    font-weight: 400;
    margin: 1vw;
}

.opening-txt2 {
    direction: rtl;
    font-family: 'heebo';
    color: #142d3d;
    font-size: 5vmin;
    width: 90vw;
    font-weight: 500;
}

.register-btn {
    font-family: 'heebo';
    position: relative;
    color: white;
    font-size: 5vmin;
    margin: auto;
    margin-top: 4vh;
    width: 50vw;
    font-weight: 500;
    background-color: #f18a36;
    border: 0vmin solid white;
    border-radius: 1vmin;
    padding: 1vmin;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}