.nav-bar {
    background: #f6f2ed;
    background-image: url('../../media/top_banner_thingy.svg');
    background-position: center center;
    height: 14vh;
    top: 0;
    width: 100vw;
    background-repeat: no-repeat;
}